@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/variables";

html, body, main, #root{
    height: 100%;
}

// main.justify-content-center{

// }

*{
    margin: 0;
}

body{
    height: 100%;
    background-color: $light;
    font-family: sans-serif, Arial, Helvetica;
}

.github-content{
    background-color: #fff;
    padding: 50px;
    border: 1px solid $dark;
    border-radius: 10px;
}

.api-content{

    top: 60px;

    @media (max-width: 767px) {
        top: 205px;
    }

}

.search-content, header{

    margin: 0 auto;

    input{
        height: 60px !important;
        border-radius: 50px 0 0 50px !important;
        border-right: none !important;
    }

    input:focus {
        box-shadow: none !important;
        background-color: #fff !important;
    }
      
    input:focus ~ .input-group-prepend  .input-group-text{
        border-color: #80bdff !important;
    }
      
    .input-group-text{
        width: 100px;
        justify-content: center;
        border-radius: 0px 50px 50px 0px !important;
        background-color: #fff;
        border-left: none;
        font-size: 24px;

        &.hover{
            cursor: pointer;
            background-color: $light;
        }

    }
}

header{

    z-index: 10;
    height: 71px;

    img{
        width: 45px;
        top: 0px;
        filter: invert(100%);
    }

    .form-group{
        z-index: 50;
        margin: 4px 0 0 80px;
        position: absolute;
        width: 50%;

        @media (max-width: 767px) {
            width: 60%;
        }

    }
    
    input{
        height: 40px !important;   
    }

    @media (max-width: 767px) {
        height: 60px;
    }

}
.card{

    .card-buttons{

        button:nth-child(2){
            margin-left: 10px;
        }

    }

    .avatar{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
}

.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    @media (max-width: 767px) {
        top: 52px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        box-shadow: 10px 2px 5px rgba(0, 0, 0, .1);
        background-color: #343a40 !important;
        position: fixed;
        height: fit-content;
    }
        
    .nav-item{  

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        .nav-link{ 

            font-weight: 500;
            color: #333 !important;

            @media (max-width: 767px) {
                color: $light !important;
            }
    
            &:hover{
                .feather {
                    color: inherit;
                }
            }

            &.active {

                color: #007bff !important;

                .feather {
                    color: inherit;
                }
            }

            .feather {
                margin-right: 4px;
                color: #727272;
            }
        }
    }
}