@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/variables";

html, body, main, #root{
    height: 100%;
}

// main.justify-content-center{

// }

*{
    margin: 0;
}

body{
    height: 100%;
    background-color: $light;
    font-family: sans-serif, Arial, Helvetica;
}

.github-content{
    background-color: #fff;
    padding: 50px;
    border: 1px solid $dark;
    border-radius: 10px;
}

.search-content{

    margin: 0 auto;

    input{
        height: 40px !important;
        border-radius: 50px 0 0 50px !important;
        border-right: none !important;
    }

    input:focus {
        box-shadow: none !important;
        background-color: #fff !important;
    }
      
    input:focus ~ .input-group-prepend  .input-group-text{
        border-color: #80bdff !important;
    }
      
   .input-group-text:hover {
        cursor: pointer;
        background-color: $light;
    }
      
    .input-group-text{
        width: 100px;
        justify-content: center;
        border-radius: 0px 50px 50px 0px !important;
        background-color: #fff;
        border-left: none;
        font-size: 24px;
    }
}

